body {
    background-color: black;
    color : rgb(255, 249, 238) ; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-seriff;
}
img{
    border-radius: 5%;
}
a {
    font-size : 24px; 
    text-decoration: none;
}
ol , ul {
    line-height: 40px;
}
h1{
    font-size: 35px;
}
h2{
    font-size : 30px;
    line-height: 40px;
}
p{
    line-height: 30px;
}